* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > *  {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.header{
    grid-area: header;
    background-color: seashell;
}
.navbar {
    grid-area: navbar;
    background-color:skyblue;
}

.sidebar{
    grid-area: sidebar;
    background-color: seashell;
}
.main {
    grid-area: main;
    background-color: darkcyan;
}
.footer{

    grid-area: footer;
    background-color: darkgreen;
}

.grid-container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "navbar"
    "main"
    "sidebar"
    "footer";
}

@media (min-width:  600px){
.grid-container{
    grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: 
    "header header"
    "navbar navbar"
    "sidebar main"
    "footer footer";
}
    
}


@media (min-width:  900px){
    .grid-container{
        grid-template: 
        "header header header" 100px
        "navbar main sidebar" auto
        "footer footer footer" 100px / 
        200px auto 200px;
    }
        
    }

    body{
        font-family: arial, helvetica;
        background: #e8e8e8;
    }
    
    .menu{
        list-style: none;
        padding: 0;
        background: #092327;
        width: 90%;
        max-width: 1000px;
        margin: auto;
    }
    
    .menu li a{
        text-decoration: none;
        color: white;
        padding: 20px;
        display: block;
    }
    
    .menu li{
        display: inline-block;
        text-align: center;
    }
    
    .menu li a:hover{
        background: #ef8354;
    }
    